*{
    color: black!important;
    line-height: 0px !important;
}

.navbarStyle{
    background-color: #FB8C00!important;
    height: 60px;
    z-index: 2;
    position: fixed!important;
}

.colorButton{
    background-color: #ffcc80;
    border: 0px;
}

.marginSN{
    margin-top: 60px!important;
    width: 100%!important;
}

.sottoNavbar{
    /*position: fixed;
     margin-top: 1;*/

    height: 45px!important;
    background-color: #FFE0B2!important;
    z-index: 1;
}

.butSottoNavbar{
    background-color: #FFE0B2!important;
    margin-left: 60px;
    width: 90px;
    height: 35px;
    border: 3px!important;
    border-color: #FB8C00!important ;
}

.first{
    margin-left:10px!important
}

.bannerAds{
    height: 45px;
    background-color: grey;
}

.moveToRight{
    margin-left: 13.3%!important;
}

form{
    height: 40px!important;
    background-color: transparent!important;
    /*border: 5px solid red!important;
    border-radius: 10px!important;*/
    align-items: normal!important;
    margin-top: 1.5%;
}

form input{
    height: 30px!important;
    margin: auto;
    color:black!important;
    border-bottom: 0px!important;
    -webkit-box-shadow: 0 0px 0 0 #26a69a !important;
    box-shadow: 0 0px 0 0 #26a69a!important;
    border-radius:10px!important;
}

.alignItems{
    align-content: center;
}

.floatElementsSearch{
    float: left!important;
}

.buttonsNavbar{
    margin-top: 0.7%;
}

li{
    background-color: rgba(0,0,0,0)!important;
}

.backgroundSearchbar{
    background-color: #F5F5F5!important;
    height: 30px!important;
    border-radius: 10px!important;
}

#lente{
    width: 30px!important;
    height: 30px!important;
    background-image: url("../images/lente.png");
    background-repeat: no-repeat;
    /*margin-right: 100%!important;*/
    border: 0px;
    background-color: transparent;
}

#logo{
    background-image: url("../images/logo.png")!important;
    width: 60px!important;
    height: 60px!important;
}

.allCategoriesDropDown{
    height: 30px!important;
    margin-left: 22%!important;
    align-self: flex-start;
    border:1px solid black !important;
    background-color: #E0E0E0!important;
    border-radius: 10px!important;
}

.menuStyle{
    height:100px;
    margin-top: -4.5% !important;
    margin-left: 33%;
}

.menuStyle a{
    height: 30px;
}

#primeAmenu{
    margin-top: 5%;
}

.vedi{
    border:5px solid blueviolet;
}

.imgCarrello{
    width: 30px!important;
    height: 30px!important;
    background-image: url("../images/carrello.png");
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 13%;
    border: 0px!important;
}

.containerNavbars{
    z-index: 1;
}

.containerSottoNavbar{
    padding: 0px!important;
    margin: 0px!important;
}
.removePadding{
    padding:0px!important;
}