.containerCards{
    background-color: yellow;
    margin: 200px auto 0px;
    width: 1200px;
    height: 1500px;
}

.dimensionCards{
    width: 350px!important;
    height: 100%!important;
    float: left;
    margin-left:50px;
    background-color: green;
}

.rowCard1{
    width: 100%!important;
    height: 350px!important;
    align-self: flex-start;
    align-items: center;
}


#a {
    margin-left: 0px!important;
    align-items: center;
    background-color: transparent!important;
}

.imgCard1{
    margin-top: 10px!important;
    background-image: url('../images/pallone.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 190px;
    margin: 0px auto;
}

.titleOfCard1{
    width: 100%;
    text-align: center;
    margin: 0px auto 62%;
}

.descriptionCard1{
    width: 100%;
    height: 120px;
    text-align: left;
    font-size: 16px;
    line-height: 20px !important;
    padding: 10px !important;
}

.linkCard1{
    width: 100%;
    height:30px;
    text-align: center;
}


.rowCard2{
    margin-top: 200px;
    width: 100%!important;
    height: 350px!important;
    align-self: center;
}

#d {
    margin-left: 0px!important;
}

.rowCard3{
    margin-top: 200px;
    width: 100%!important;
    height: 350px!important;
    /*margin-top: 300px;*/
    align-self: flex-end;
}

#g {
    margin-left: 0px!important;
}

.dimensionCard{
    margin: auto;
    height: 100%;
    width: 100%;
}

