
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow:hidden;
  background: black;
  i{
    font-size: 2vw;
  }
}

.slide{
  position: relative;
  min-width: 100%;
  height: 80%;
  transition: 0.5s;
  overflow:hidden;
}
%btn-styles{
  position: absolute;
  transform: translateY (-50%);
  width: 10%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  &:hover{
    background: rgba(0,0,0,0.11);
    cursor: pointer;
    i {
      color: whitesmoke!important;
    }
  }
}
#goLeft {

  left: 0;
  @extend  %btn-styles;

}
#goRight{
  right: 0;
  @extend  %btn-styles;
}

